configuration {
    modi: "window,drun,ssh,combi";
    font: "1";
    combi-modi: "window,drun,ssh";
}

@theme "/nix/store/b5j87xnyh2v62r0d43qz2mqj114zndfi-rofi-2.0.0/share/rofi/themes/Arc-Dark.rasi"
