* {
	margin: unset;
	padding: unset;
	transition: none;
	font-size: 13px;
	border: none;
	border-radius: unset;
	background-color: unset;
}

window {
	background-color: rgba(0, 0, 0, 0.5);
}

button {
	padding-right: 0.3em;
}

button:hover {
	box-shadow: inset 0 -3px #ffffff;
}


#workspaces>:last-child {
	border-radius: 0px 0px 10px 0px;
}

.modules-left {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0px 0px 10px 0px;
}

.modules-center {
	padding: 0px 1em;
}

.modules-right {
	padding-left: 0.5em;
	/* padding-right: 0.5em; */
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0px 0px 0px 10px;
}

.modules-right>*>* {
	padding: 0px 0.4em;
}

